{% extends 'base.html' %}

{% block pageName %} Gerir utilizadores {% endblock %}

{% block MainDir %} Administração {% endblock %}
{% block CurrentDir %} Utilizadores {% endblock %}

{% block content %}


<section class="content ">
<div class="row">
    <div class="col-md-6 col-sm-12">
    <div class="card mt-3 card-secondary">
        <div class="card-header bg-primary">Criar conta</div>
        <div class="card-body">
            <form id="add-user" method="POST" action="/admin/addUser">
        
                <div class="form-group row col-12">
                    <div class="col-6">
                        <input type="text" class="form-control" required name="nome" id="nome" placeholder="Nome">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" required name="sobrenome" id="sobrenome" placeholder="Sobrenome">
                    </div>
                </div>

                <div class="form-group row col-12">
                    <div class="col-12">
                        <input type="email" class="form-control" required name="email" id="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group row col-12">
                    <div class="col-6" style="display: inherit;align-items: center;" >
                        <input type="password" required class="password-inp form-control" style="border-right: none;border-radius: .25rem 0 0 .25rem" name="password1" id="password1" placeholder="Password">
                        <i class="fa fa-eye form-control icon-pass" style="cursor:pointer;width: auto;border-left: none;border-radius: 0 .25rem .25rem 0" id="password1-icon" onClick="changeInputPassword(1)"></i>
                    </div>
                    <div class="col-6"  style="display: inherit;align-items: center;" >
                        <input type="password" required class="password-inp form-control" name="password2" style="border-right: none;border-radius: .25rem 0 0 .25rem" id="password2" placeholder="Confirmar Password">
                        <i class="fa fa-eye form-control icon-pass" style="cursor:pointer;width: auto;border-left: none;border-radius: 0 .25rem .25rem 0" id="password2-icon" onClick="changeInputPassword(2)"></i>
                    </div>
                </div>

                {% if servicos %}
                    {% for servico in servicos %}
                        <label for="serv-{{servico}}">{{servico}}</label>
                        <input type="checkbox" name="serv-{{servico}}" id="serv-{{servico}}">

                    {% endfor %}

                {% else %}
                    Ainda não foram criados serviços.
                {% endif %}

                <div class="row col-12 justify-content-end ">
                    <button type="button" class="btn btn-secondary mr-1" id="cleanUserForm" onClick="clearForm()">Limpar</button>
                    <button type="submit" class="btn btn-primary" id="createUserForm">Criar Conta</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div class="col-md-6 col-sm-12">
    <div class="card mt-3 card-secondary" style="height: 90.5% !important;">
        <div class="card-header">Estatísticas <small>(utilizadores)</small></div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="col-12 h3">
                        {{current_user.name}}
                        {{current_user.surname}}
                    </div>
                    <div class="col-12 h5">
                        Acesso de administrador
                    </div>
                    <div class="col-12 h5">
                        Total controlo sob a plataforma
                    </div>
                </div>
                <div class="col-12 pt-4 row text-center">
                    <div class="col-6">
                        <h3 class="text-success font-weight-bold">Ativos<br>{{ ativos|length }}</h3>
                        
                    </div>

                    <div class="col-6">
                        <h3 class="text-danger font-weight-bold">Inativos<br>{{ inativos|length }}</h3>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>



    <div class="card mt-3">
        <div class="card-header">Utilizadores</div>
        <div class="card-body">

            <table class="table table-bordered table-hover" id="utilizadores">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>SOBRENOME</th>
                        <th>EMAIL</th>
                        <th>ESTADO</th>
                        <th>ULT. LOGIN</th>
                        <th>CRIADO EM</th>
                    </tr> 
                </thead>
                <tbody>
                    {% for user in users%}

                        <tr>
                            <td>{{user[0].id}}</td>
                            <td>{{user[0].name}}</td>
                            <td>{{user[0].surname}}</td>
                            <td>{{user[0].email}}</td>
                            {% if user[0].estado == "Ativo" %}
                            <td><span class="badge bg-success">{{user[0].estado}}</span></td>
                            {% else %}
                            <td><span class="badge bg-danger">{{user[0].estado}}</span></td>
                            {% endif %}
                            
                                <td>{{user[2]}}</td>
                            <td>{{user[1]}}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>



</section>

<script>

    
    function clearForm() {
        $(':input','#add-user')
            .not(':button, :submit, :reset, :hidden')
            .val('')
            .prop('checked', false)
            .prop('selected', false);
    }

    window.addEventListener('load', () => {
        $('#utilizadores').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
    })

    $("#add-user").submit(async (event) => {
        event.preventDefault()

        regexPassword = new RegExp("^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-_]).{6,}$")

        if (regexPassword.test($('#password1').val())) {
            if ($('#password1').val() == $('#password2').val()) {
                form = document.getElementById("add-user")

                formData = new FormData(form)

                await fetch(form.action, {
                    method: form.method,
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data == "Email existe") {
                        $(document).Toasts('create', {
                            title: 'Email existente',
                            subtitle: 'Erro',
                            class: '',
                            icon: '',
                            autohide: true,
                            delay: 2500,
                            body: 'O email utilizado já existe, por favor utilize outro ou inicie sessão'
                        })

                    } 
                    if (data == "ok") {
                        
                        clearForm()

                        window.location.reload()

                    }
                })
                  .catch(error => {
            
                })


            } else {
                $(document).Toasts('create', {
                    title: 'Passwords não coincidem',
                    subtitle: 'Erro',
                    class: '',
                    icon: '',
                    autohide: true,
                    delay: 2500,
                    body: 'As suas passwords não coincidem, por favor verifique'
                })
            }
            
        } else {
            $(document).Toasts('create', {
                title: 'Passwords insegura',
                subtitle: 'Erro',
                class: '',
                icon: '',
                autohide: true,
                delay: 5000,
                body: 'A password deve conter: números, maiúsculas, minúsculas, caracteres especiais'
            })
        }

    })


    function changeInputPassword(number) {
        if ($("#password" + number + "-icon").hasClass("fa-eye")) {
            $("#password" + number + "-icon").removeClass("fa-eye")
            $("#password" + number + "-icon").addClass("fa-eye-slash")

            $("#password" + number).attr("type", "text")

        } else {
            $("#password" + number + "-icon").addClass("fa-eye")
            $("#password" + number + "-icon").removeClass("fa-eye-slash")

            $("#password" + number).attr("type", "password")

        }
    }




</script>

{% endblock %}