#dropdownMenuButton4:hover {
    color: #FF7E41;
}

#dropdownMenuButton4 {
    transition: 0.3s
}


.icn-spinner {
    animation: spin-animation 0.5s infinite linear;
    display: inline-block;
}

@keyframes spin-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.delete-confirmation {
    background-color: #78C091 !important;
    border: #78C091 !important;
}


body {
    position: relative;
}

#notification-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.notification {
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(29, 29, 29);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: left;
    width: 350px;
    transition: opacity 0.3s ease-in-out;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.notification-icon {
    margin-right: 10px;
}

.success {
    color: #4CAF50;
}

.danger {
    color: #FF0000;
}

.warning {
    color: #FFA500;
}

.info {
    color: #0080FF;
}

.font-25 {
    font-size: 25px;
}

.floating-label>label {
    padding-bottom: 0 !important;
}

/*input[type="search"] {
   -webkit-text-security: disc;
}*/

.text-security-none {
    -webkit-text-security: none;
}

.text-security-disk {
    -webkit-text-security: disc;
}


.limitText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#loader {
    border: 16px solid #f3f3f3;
    /* cor do círculo externo */
    border-top: 16px solid #3498db;
    /* cor do círculo interno */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    /* animação de rotação */
    margin: 0 auto;
    /* centralizar horizontalmente */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



#DataTables_Table_0 {
    width: 100%;
    border-collapse: collapse;

    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
}

#DataTables_Table_0  th{
    font-size:12px ;
    background-color:#cbd2f78e;

}
#DataTables_Table_0  td{
    font-size:12px ;
    background-color:white;
}

#tabela-registros {
    overflow: auto;
    max-height: 500px;
  
    /* Defina a altura máxima desejada */
}

#tabela-registros table {
    width: 100%;
    border-collapse: collapse;
}

#tabela-registros thead th {
    position: sticky;
    top: 0;

}

.btn-anterior,
.btn-proximo {
    padding: 5px 10px;
    margin: 10px;
}

.select-checkbox option::before {
    content: "\2610";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}

.select-checkbox option:checked::before {
    content: "\2611";
}

.hidden {
    display: none !important;
}

/* #DataTables_Table_0 {
    table-layout: fixed;
} */

.no-underline {
    text-decoration: none !important;
}


.icon.la-minus {
    text-decoration: none;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    content: "\f068";
    display: inline-block;
    transition: color 0.3s;

}

a:hover .icon.la-minus,
a:hover .link-text {
    text-decoration: underline;

}

.editable-qtreal {
    border-color: #f3f3f3;
    border-top-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
    border-left-color: #f3f3f3;
    border-right-color: #f3f3f3;
    text-align: right;
}

.align-right {

    text-align: right;
}

.inputdisabled {
    border-color: #f3f3f3;

    text-align: right;

}

.cell-hover:hover {
    cursor: pointer;
}
.hidden-column 
{
    width: 0;
    padding: 0;
    border: none;
    display: none;
}

.menu-container {
    position: relative;
}
.menu-container ul {
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  background-color: gray;
}
.menu-container ul:hover {
  position: absolute;
  margin-top: -10px;
}



    #dropdownMenuButton_oper {
        background-color: transparent; /* Remove a cor de fundo */
        border: none; /* Remove a borda */
        padding: 0; /* Remove o padding */
        line-height: 1;
        text-decoration: none;
        display: inline-block;
        font-weight: 500;
    }
    

    .table-buttons-wrapper {
        left:200px;
 
    }
    .dataTables_info {
        margin-left: 20px;
    }
/* 
    .dataTables_length {
        margin-left: 20px; 
        margin-top: 20px;
    }

    .dt-buttons {
        margin-left: 200px;
        margin-top: -70px;
    }

    .dt-dataTables_filter {
        margin-left: 200px; 
        margin-top: 200px;
    }     */

    /* .dataTables_length,
    .dt-buttons,
    .dataTables_filter {
        display: inline-flex;
        align-items: center;
        margin-right: 20px; 
 
        margin-left: 20px;
    } */

/* 
    .table-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-elements {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    .table-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    .dataTables_length,
    .dt-buttons,
    .dataTables_filter {
        display: inline-flex;
        align-items: center;
        margin-left: 20px;
    }

    .dt-buttons {
        margin-left: 10px;
        margin-top: 10px
    }
    .dataTables_filter {
       
        margin-top: 10px;
        width:500px;
    }
    .dataTables_filter input {
        width: 500px!important;
    }

    .table-container {
        display: flex;
        flex-direction: column;
    } */
    
    .table-header,
    .table-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    
 

    .dt-buttons {
        display: inline-flex;
        align-items: center;
        margin-left: 10px;
    
    }
    
    .dataTables_length {
        margin-right: 500px;
        display: inline-flex;
        align-items: center;
    }
    .dataTables_length label {
      
        display: flex;
        align-items: center;
    }    

    .dataTables_length select {
      
        margin-left: 5px;
        
    }    
    .dataTables_filter input {
        width: 500px!important;
    }
/* 
    .table-buttons-wrapper {
        position: relative;
        margin-left: 300px;
        top:200px
    }
    
    #DataTables_Table_0_wrapper {
        position: absolute;
        top:200px;
        right:25px;
        left: 260px;
    } */