{% extends 'base.html' %}

{% block title %}CloudTools - Dashboard{% endblock %}

{% block MainDir %}{% endblock %}
{% block CurrentDir %}{% endblock %}

{% block pageName %} Olá {{current_user.name}},{% endblock %}

{% block content%}

<section class="content">
    Os seus serviços
    <div class="row">
        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h3>Fechaduras</h3>
                    <p>Gerir SaltoKS</p>
                </div>
                <div class="icon">
                    <i class="fas fa-key"></i>
                </div>
                <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

    </div>
</section>

{% endblock %}