{% extends 'base.html' %}

{% block content %}

<section class="content">
    <div class=" col-md-6 col-sm-12">
        <div class="card card-secondary">
            <div class="card-header">Adicionar Serviço</div>
            <div class="card-body">
                <form id="add-servico" method="POST" action="/addServico">
            
                    <div class="form-group row col-12">
                        <div class="col-12">
                            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome">
                        </div>
                    </div>
    
                    <div class="form-group row col-12">
                        <div class="col-12">
                            <textarea class="form-control" name="descricao" id="descricao" placeholder="Descrição"></textarea>
                        </div>
                    </div>
    
                    <div class="form-group row col-12">
                        icon
                    </div>
    
                    <div class="row col-12 justify-content-end ">
                        <button type="button" class="btn btn-secondary mr-1" id="cleanServicoForm">Limpar</button>
                        <button type="submit" class="btn btn-primary" id="createServicoForm">Criar Serviço</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    
    </section>
    
    <script>
    
        window.addEventListener('load', () => {
    
        })
    
        $("#add-servico").submit(async () => {
            event.preventDefault()
    
            form = document.getElementById("add-servico")
    
            formData = new FormData(form)
    
            await fetch(form.action, {
                method: form.method,
                body: JSON.stringify(formData)
            })
    
        })

        function clearForm() {
            $(':input','#add-servico')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .prop('checked', false)
                .prop('selected', false);
        }
    
    </script>

{% endblock %}
